body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type="submit"],
button,
.btn {
    background: linear-gradient(to bottom, #FEFEFE, #E7E7E7);
    padding: 7px;
    border-radius: 4px;
    border-color: #DDDDDD;
    cursor: pointer;
    border-width: 1px;
}

input[type="submit"]:hover,
button:hover,
.btn:hover {
    background: linear-gradient(to top, #FEFEFE, #E7E7E7);
}

div a {
    text-decoration: none;
    color: inherit;
}

div a:hover {
    color: inherit;
}

input[name="Update"],
input[name="updated"],
input[name="created"] {
    background: linear-gradient(to bottom, #60C160, #52A552);
    border-color: #4A944A;
    color: white;
}

input[name="Update"]:hover,
input[name="updated"]:hover,
input[name="created"]:hover {
    background: linear-gradient(to top, #60C160, #52A552);
}

input[name="Delete"], input[name="deleted"] {
    background: linear-gradient(to bottom, #EE706C, #BE362F);
    border-color: #AF3933;
    color: white;
}

input[name="Delete"]:hover, input[name="deleted"]:hover {
    background: linear-gradient(to top, #EE706C, #BE362F);
}


.form,
ol {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: flex-start;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
}

.create {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    row-gap: 10px;
    align-items: center;
}

.UD {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}

.inputCreate {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: space-between;
}

.inputForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 10px;
    justify-content: space-between;
}

.text_delete {
    color: #BE554D;
    padding-left: 10px;
}

.delete {
    background-color: #F2DEDE;
    width: 100%;
    border-radius: 7px;
    border: 1px solid #EFD5D8;
}

table {
    border-spacing: 0;
    border-collapse: separate;
    border-radius: 5px;
    border: 1px solid #DDDDDD;
    text-align: left;
}

table th,
table td {
    padding: 5px 10px;
}

/* Apply a border to the right of all but the last column */
table th:not(:last-child),
table td:not(:last-child) {
    border-right: 1px solid #DDDDDD;
}

table>tbody>tr:not(:last-child)>td,
table th {
    border-bottom: 1px solid #DDDDDD;
}

table tbody tr:hover {
    background-color: #F5F5F5;
}